@import "shared.module.scss";



.results {
  h4 {
    width: fit-content;
    margin: auto;
  }

  .details {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 5vw;
    width: 100%;
    justify-content: center;

    .titles, .amounts {
      display: flex;
      flex-direction: column;
    }
  }
}



@media only screen and (max-width: 600px) {

  .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h4 {}
    .details {}
  }

}

@media only screen and (min-width: 600px) {

  .results {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      width: fit-content;
    }

    .details {}

  }
}